<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Connection" connectionString="Server=192.168.56.1,49170;Database=Billing;Uid=sa;Pwd=1234;"/>
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime sku=".NETFramework,Version=v4.0" version="v4.0"/>
  </startup>
</configuration>
